body {
  font-family: "Zen Kurenaido", sans-serif;
}
h1,
h2 {
  font-family: "Rowdies", cursive;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
.container {
  display: block;
  margin: 50px auto;
  background: linear-gradient(-20deg, #fbfcdb 0%, #e9defa 100%);
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 15px 15px 15px 0px;
  max-width: 1100px;
  max-height: 800px;
}
 .coder {
            text-align: center;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 100;
            opacity: 0.65;
            position: relative;
            bottom: 10px;
        }
  .weather-forecast {
  font-size: 30px;
  position: relative;
  top: 150px;
  left: 100px;
}
.weather-forecast-container,
#weather-desc {
 text-transform: capitalize;
}
#forecast {
  text-align: center;
  position: relative;
  bottom: 55px;
}
.weather-forecast-day {
  text-align: center;
}
.weather-forecast-temperature-max {
  font-weight: bold;
}
img {
  width: 75px;
  height: 75px;
}
.click-button {
  text-align: center;
  background: #F4F1E6;
  border: none;
  border-radius: 30px;
  color: black;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
.click-button:hover {
  background: #EEE7F0;
}
.main-weather {
  width: 150px;
  height: 150px;
}
.current-location {
  position: relative;
  top: 70px;
  right: 20px;
  margin-bottom: 200px;
  text-align: center;
}
.searching-form {
  position: absolute;
  top: 75px;
  right: 450px;
}
.small-img {
  width: 25px;
  height: 25px;
}
.medium-img {
  width: 50px;
  height: 50px;
}
.sun-move {
  font-weight: bold;
  margin-top: 20px;
}
#temperature {
margin-top: -10px;
}
.bigger-img {
  width: 40px;
  height: 40px;
  position: relative;
  top: -5px;
}